@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-ExtraLightItalic.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-SemiBoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-BoldItalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral SC';
    src: url(truetype/SpectralSC-ExtraBoldItalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}
